<h1>Login</h1>
<% if params[:errors].present? %>
  <ul>
    <% params[:errors].each do |error| %>
      <li style="color: red;"><%= error %></li>
    <% end %>
  </ul>
<% end %>
<%= form_tag login_path do %>
  Username: <br> <%= text_field_tag :username %> <br>
  Password: <br> <%= password_field_tag :password %> <br>
  <%= submit_tag 'Submit' %>
<% end %>