<h1>Signup!</h1>
<% if params[:errors].present? %>
<ul>
  <li style="color: red;"><%= params[:errors] %></li>
</ul>
<% end %>

<%= form_for :user, url: users_path do |f| %>
  Username: <br> <%= f.text_field :username %> <br>
  Password: <br> <%= f.password_field :password %> <br>
  Password Confirmation: <br> <%= f.password_field :password_confirmation %> <br>
  <%= f.submit 'Submit'%>
<% end %>