<!DOCTYPE html>
<html>
  <head>
    <title>FusionRLCodeChallenge</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if current_user %>
      Signed in as <%= current_user['username'] %> |
      <%= link_to 'Dashboard', dashboard_index_path %> |
      <%= link_to 'User List', user_list_dashboard_index_path %> |
      <%= link_to 'Logout', logout_path %>
    <% else %>
      <%= link_to 'Login', login_path %> |
      <%= link_to 'Signup', signup_path %>
    <% end %>
    <%= yield %>
  </body>
</html>
